/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#bar {
  float: right;
  padding-right: 10px;
}

#container {
  background: #F0F0F0;
  display: block;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 380px;
  height: 100px;
  padding-top: 10px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#container h1 {
  text-align: center;
  vertical-align: middle;
}

#devise_container {
  background: #F0F0F0;
  display: block;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 380px;
  padding-bottom: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#devise_container h2 {
  text-align: center;
  vertical-align: middle;
}

#devise_password_container {
  background: #F0F0F0;
  display: block;
  position: absolute;
  top: 10%;
  left: 35%;
  width: 380px;
  padding-bottom: 25px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#devise_password_container h2 {
  text-align: center;
  vertical-align: middle;
}

#error_explanation {
  font-size: 0.8em;
  color: #700000;
}

#error_explanation p {
  font-weight: bold;
  padding-left: 10px;
}

#error_explanation h2 {
  padding-left: 10px;
  font-weight: bold;
  font-size: 0.8em;
  padding-bottom: 10px;
}

#error_explanation ul li {
  padding-left: 10px;
}

.form_input {
  text-align: center;
}

.form_input input[type=submit] {
  color: #fff;
}
